<swal
  #closeInspectionSwal
  title="Confirm close {{ inspection.title }}"
  text="Are you sure you want to close this case?"
  type="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  (cancel)="handleRefusalToSetEmail($event)"
  (confirm)="closeInspection(inspection)"
>
</swal>
<swal
#reOpenInspectionSwal
title="Confirm reopen {{ inspection.title }}"
text="Are you sure you want to reopen this case?"
type="warning"
[showCancelButton]="true"
[focusCancel]="true"
(cancel)="handleRefusalToSetEmail($event)"
(confirm)="reOpenInspection(inspection)"
>
</swal>
<button [swal]="closeInspectionSwal" class="btn btn-danger btn-link btn-xs">Close</button>
<button [swal]="reOpenInspectionSwal" class="btn btn-danger btn-link btn-xs">Reopen</button>
