<div>
    <div class="header">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <img src='../../../assets/image/companylogo.png' class="company-logo" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="intro">
                    <h1>Welcome, {{name}}</h1>
                    <button (click)="logout()">logout</button>
                </div>
            </div>
        </div>
    </div>
    
    <app-members-chat-work></app-members-chat-work>
</div>